@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

picture,
img {
  max-width: 100%;
}

:root {
  --fs-200: 1.2rem;
  --fs-400: 2.4rem;

  --fw-bold: 800;

  --ff-manrope: "Manrope", sans-serif;

  --cyan: 193 38% 86%;
  --neon-green: 150 100% 66%;
  --gray-blue: 217 19% 38%;
  --x-gray-blue: 217 19% 24%;
  --dark-blue: 218 23% 16%;
}

@media (min-width: 45em) {
  :root {
    --fs-200: 1.4rem;
    --fs-400: 2.8rem;
  }
}

/*  From A11y project https://www.a11yproject.com/posts/how-to-hide-content/*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: var(--ff-manrope);
  font-weight: var(--fw-bold);
  color: hsl(var(--cyan));

  display: grid;
  place-content: center;
  min-height: 100vh;

  background: hsl(var(--dark-blue));
  padding-inline: 2rem;
}

#app {
  background: hsl(var(--x-gray-blue));
  padding: 4rem;
  border-radius: 1rem;
  max-width: 55rem;

  position: relative;
}

.advice-container {
  text-align: center;
}

.number {
  font-size: var(--fs-200);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.highlight {
  color: hsl(var(--neon-green));
}

.advice-text {
  font-size: var(--fs-400);
}

.partition {
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}

.fetch-button {
  position: absolute;
  bottom: calc(0px - 2.25rem);
  left: calc(50% - 2.25rem);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  line-height: 0;
  background: hsl(var(--neon-green));
  border: none;
  outline: none;
  cursor: pointer;

  transition: box-shadow 250ms ease;
}

.fetch-button:hover,
.fetch-button:focus-visible {
  box-shadow: 0 0 30px hsl(var(--neon-green));
}

.fetch-button:active {
  box-shadow: 0 0 20px hsl(var(--neon-green));
}

.fetch-button[disabled] {
  background: hsl(var(--gray-blue));
  box-shadow: none;
  cursor: not-allowed;
}
